.infoArea {
    background-color: wheat;
    border: 1px solid blue;
    margin: 80px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 80px;

}
.textFields {
    background-color: white;
}