body {
  background-color: bisque;
}
.appHeader {
  background-color: black;
  background-image: url('./Media/banner.png');
  background-position: stretch;
  background-repeat: no-repeat;
  background-size: cover;
  height: 199px;
}
h1 {
  color: lightyellow;
  padding-top: 23px;
  padding-right: 120px;
  margin: 10px;
  font-family: 'MovieFont';
  font-stretch: expanded;
  font-size: 80px;
  text-align: right;
}
@font-face {
    font-family: "MovieFont";
    src: url("Media/MOVIE.ttf");
}
@font-face {
  font-family: "GenreFont";
  src: url('Media/genre.ttf');
}
h4 {
  font-family: 'genreFont';
  font-size: 20px;
  text-align: center;
}
body {
   background-image: url('./Media/theatre.jpg');
   background-position: center;
}