body {
    background-color: black;
    /* background-image: url("Media/MovieTheatre.jpg"); */
    background-position: stretch;
    background-repeat:
}
.genres {
    color: white;
    display: inline-flex;
    padding: 7px;
}
.movieMap {
    border: red dotted 1px;
    align-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    display: inline-block;
}
.img {
    /* border: white solid 1px; */
    padding: 8px;
    margin: 8px;


}
.img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}